<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Just a chat App</title>
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <main>
      <h1>JUST CHAT</h1>
      <section class="main">
        <section class="friendList">
          <form id="friendConnect">
            <input type="text" name="" id="friendID" placeholder="user id" />
            <button>connect</button>
          </form>
          <section id="friendList"></section>
          <a href="/logout" class="btn">Logout</a>
        </section>
        <!-- chat part -->
        <section id="chat-part">
          <!-- displaying received messages aka CHAT BOX -->
          <section id="chat-box">
            <div id="chat-box-header" id="">Global Chat</div>
            <div id="chat-box-body"></div>
          </section>
          <!-- sending a message -->
          <section>
            <form id="form" enctype="multipart/form-data">
              <button type="button" id="changeButton">text</button>
              <input type="text" id="textField" autocomplete="off" />
              <button type="submit">send</button>
            </form>
          </section>
        </section>
      </section>
    </main>
  </body>
  <script src="/public/js/socketClient.js" type="module"></script>
  <script src="/public/js/friendList.js" type="module"></script>
  <script src="/public/js/change.js" type="module"></script>
</html>
