<% data.forEach(element => { %> <% if (uid != element.senderID) { %>
<div class="left messageBox">
  <div><%= element.senderID %></div>
  <div><%=element.message %></div>
</div>
<% }else{ %>
<div class="right messageBox">
  <div><%= element.senderID %></div>
  <div><%=element.message %></div>
</div>
<% } %> <% }) %>
