@import url("https://fonts.googleapis.com/css2?family=Poppins");

:root {
  --secondary-color: navy;
  --high-light-color: gainsboro;
}
* {
  font-family: Poppins, Times, serif;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb {
  background-color: var(--high-light-color);
}
