h1 {
  text-align: center;
}
.right {
  text-align: right;
}

/* .left {
  text-align: left;
} */

#chat-box {
  margin: 0 auto;
  border: 2px solid navy;
  max-width: 70%;
}
/* chat body */

#chat-box-body {
  max-height: 350px;
  overflow-y: scroll;
}
/* chatr box header */

#chat-box-header {
  background-color: rgb(198, 198, 198);
  text-align: center;
}

/* form */
form {
  max-width: 70%;
  background-color: red;
  margin: 0 auto;
  display: flex;
}
form > input {
  flex: 1;
  outline: none;
}

/* gridding */

.main {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

/* modifying friend Div */

.friend {
  cursor: pointer;
  padding: 4px;
  text-align: left;
}
