h1 {
  text-align: center;
}
.right {
  text-align: right;
}

.left {
  text-align: left;
}

#chat-box {
  margin: 0 auto;
  height: 300px;
  border: 2px solid navy;
  max-width: 70%;
}

/* form */
form {
  max-width: 70%;
  background-color: red;
  margin: 0 auto;
  display: flex;
}
form > input {
  flex: 1;
  outline: none;
}

/* gridding */

.main {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
