h1 {
  text-align: center;
}
.right {
  clear: both;
  text-align: right;
  float: right;
}

.left {
  clear: both;
  text-align: left;
}

#chat-box {
  margin: 0 auto;
  border: 2px solid navy;
  max-width: 70%;
}
/* chat body */

#chat-box-body {
  height: 350px;
  max-height: 350px;
  overflow-y: scroll;
  padding: 2px;
}
/* chatr box header */

#chat-box-header {
  background-color: rgb(198, 198, 198);
  text-align: center;
}

/* form */
form {
  max-width: 60%;
  display: flex;
}
form > input {
  flex: 1;
  outline: none;
}

/* gridding */

.main {
  display: grid;
  grid-template-columns: 20% 70%;
}

/* modifying friend Div */

.friend {
  cursor: pointer;
  padding: 4px;
  text-align: left;
}

.messageBox {
  width: 40%;
  max-width: 40%;
  border-radius: 5px;
  background-color: gainsboro;
  margin-bottom: 8px;
}

#friendConnect > button {
  cursor: pointer;
}
#form {
  max-width: 70%;
  margin: 0 auto;
}
#chat-part {
  margin: 0;
}
